.slds-grid .slds-hyphenate {
    width: 100%
}

.slds-grid .slds-truncate {
    width: 100%
}

.lookup-container{
    margin-top: -1rem;
    margin-left: -0.5rem;
    
}

.lookup-container .slds-dropdown{
    
    max-height: 120px;
    max-width: fit-content;
    
}